@import '../../../global.scss';


.div {
	position: fixed;

	display: flex;
	align-items: flex-end;
	justify-content: center;

	color: $blue;
	background-color: $blue;

	font-size: 13px;
	white-space: nowrap;
}