$blue: #7597C1;
$darkGray01: #252525;
$darkGray02: #353535;
$darkGray03: #3e3e3e;
$lightGray01: #555555;
$lightGray02: #6b6b6b;
$lightGray03: #8b8b8b;
$lightGray04: #b6b6b6;
$lightGray05: #dddddd;
$lightGray06: #eeeeee;